@use "../../styles/partials/__variables" as *;
@use "../../styles/partials/__mixins" as *;
@use "../../styles/partials/__utils" as *;

/* -------------------------------------------------------------------------- */
/*                                Mobile Styles                               */
/* -------------------------------------------------------------------------- */

@include mobile {
  .card {
    @include flex(center, start);
    flex-direction: column;
    margin: 1rem;
    width: 92%;
    height: 106.8125rem;
    flex-shrink: 0;
    border-radius: 0.1875rem;
    background: $color-primary-white;

    /* Card Shadow */
    box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);

    &__title {
      @include flex();
      width: 91%;
      padding: $padding-s $padding-xs;
      flex-direction: row;
      border-bottom: 1px solid $color-secondary-cloud;
      &-container {
        @include flex(center, start);
        flex-direction: row;
        width: 100%;
      }
    }

    &__warehouse {
      width: 10rem;
    }
    &__icon {
      &-arrow {
        padding-right: $padding-xxs;
      }
      &-edit {
        &-text {
          display: none;
        }
        &-button {
          border: none;
          padding: $padding-xxs;
          display: flex;
          width: 2.25rem;
          height: 2.25rem;
          padding: 0.5rem;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          border-radius: 1.25rem;
          background: $color-primary-is-indigo;
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                Tablet Styles                               */
/* -------------------------------------------------------------------------- */

@include tablet {
  .card {
    margin: 0 2rem;
    width: 92%;

    &__title {
      @include flex();
      width: 91%;
      padding: $padding-m $padding-sm;
    }

    &__warehouse {
      width: 10rem;
    }
    &__icon {
      &-arrow {
        padding-right: $padding-xxs;
      }
      &-edit {
        &-text {
          display: contents;
        }
        &-button {
          display: flex;
          width: 4.5rem;
          color: $color-primary-white;
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                DesktopStyles                               */
/* -------------------------------------------------------------------------- */

@include desktop {
  .card {
    margin: 0 5rem;
    width: 87%;

    &__title {
      width: 91%;
      padding: $padding-m $padding-l;
    }
  }
}
