@use "../../styles/partials/__variables" as *;
@use "../../styles/partials/__mixins" as *;
@use "../../styles/partials/__utils" as *;

.add-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 91%;
  border-radius: 3px;
  padding: 0 1rem;
  background: var(--White, #fff);
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
  @include tablet {
    padding: 0 2rem;
  }

  &__header {
    width: 100%;
    padding: $padding-s 0;
    border-bottom: 1px solid $color-secondary-cloud;
    &-container {
      display: flex;
      align-items: center;
      justify-content: start;
      flex-direction: row;
      width: 100%;
    }
  }

  &__back-arrow {
    border: none;
    background-color: transparent;
  }

  &__title {
    color: var(--Instock-Black, #13182c);
    font-family: "Titillium Web";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
  }
  &__forms {
    width: 100%;
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      padding-top: 1.5rem;
    }
  }
  &__forms-title {
    padding-bottom: 2rem;
  }
  &__item-form {
    flex: 1;
    border-bottom: 1px solid $color-secondary-cloud;
    padding-bottom: 1rem;
    @include tablet {
      border-bottom: none;
      border-right: 1px solid $color-secondary-cloud;
      padding-right: 2rem;
    }
  }
  &__vail-form {
    flex: 1;
    padding-top: 1rem;
    @include tablet {
      padding-top: 0;
      padding-left: 2rem;
      width: 41%;
    }
  }
  &__input {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 88%;
    padding: $padding-xxs $padding-xs;
    font-size: 13px;
    line-height: 20px;
    font-family: "Titillium Regular";
    color: $color-primary-is-black;
    //border styles
    border-radius: 1.25rem;
    border: 1px solid $color-secondary-cloud;
  }
  &__input-description {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 88%;
    padding: $padding-xxs $padding-xs;
    font-size: 13px;
    line-height: 120px;
    font-family: "Titillium Regular";
    color: $color-primary-is-black;
    //border styles
    border-radius: 1.25rem;
    border: 1px solid $color-secondary-cloud;
  }
  &__input-select {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 98%;
    padding: $padding-xxs $padding-xs;
    font-size: 13px;
    line-height: 20px;
    font-family: "Titillium Regular";
    color: $color-primary-is-black;
    //border styles
    border-radius: 1.25rem;
    border: 1px solid $color-secondary-cloud;
  }
  &__form-group-select {
    display: flex;
    flex-direction: column;
  }
  &__status-button.active {
    margin-right: 5.5625rem;
  }
  &__status-button {
    margin-right: 5.5625rem;
  }
  &__form-group-radio {
    display: flex;
    justify-content: flex-start;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 88%;
    font-size: 13px;
    line-height: 20px;
    font-family: "Titillium Regular";
    color: $color-primary-is-black;
  }
  &__radio-label {
    margin-left: 0.5rem;
  }
  &__form_ctas {
    width: 100%;
    background-color: rgba(247, 248, 249, 0.7);
    padding: $padding-xs 0;
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
    @include tablet {
      display: none;
    }
  }
  &__form_ctas-tablet {
    display: none;
    @include tablet {
      width: 100%;
      padding: $padding-xs 0;
      justify-content: end;
      display: flex;
      flex-direction: row-reverse;
      background: rgba(247, 248, 249, 0.7);
    }
  }
  &__button-add {
    margin-left: 0.5rem;
    margin-right: 1.75rem;
    width: 10rem;
    border: none;
    padding: $padding-xxs $padding-xs;
    border-radius: 1.25rem;
    color: $color-primary-white;
    background-color: $color-primary-is-indigo;
    &:hover {
      background-color: $color-bg-graphite;
    }
  }
  &__button-cancel {
    margin-left: 1.75rem;
    margin-right: 0.5rem;
    width: 10rem;
    padding: $padding-xxs $padding-xs;
    border-radius: 1.25rem;
    border: 1px solid $color-secondary-cloud;
    color: $color-secondary-slate;
    background-color: $color-primary-white;
    &:hover {
      color: $color-primary-is-indigo;
      border: 1px solid $color-primary-is-indigo;
    }
  }
}
