@use "../../styles/partials/__variables" as *;
@use "../../styles/partials/__mixins" as *;
@use "../../styles/partials/__utils" as *;

body {
  background-color: $color-bg-light-grey;
}
.list-table {
  &__list {
    border-bottom: 1px solid $color-secondary-cloud;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    &:not-first-child {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background-color: $color-bg-light-grey;
    }
    @include tablet {
      padding: 1rem 2rem;
      display: grid;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      gap: 1rem;
      grid-template-columns: 1.4fr 1.8fr 1.5fr 1.8fr 0.1fr 0.1fr;
    }
    @include desktop {
      grid-template-columns: 1fr 1.8fr 1fr 1fr 0.1fr 0.1fr;
    }
  }
  &__name {
    display: flex;
    align-items: center;
  }
  &__contact-info p {
    font-size: 11px;
    line-height: 1.5;
    @include tablet {
      font-size: 14px;
    }
  }
  &__actions {
    &-edit {
      display: flex;
      justify-content: end;
      align-items: center;
      padding-bottom: 0.4rem;
    }
  }
}

//sorting header -hides when in mobile mode
.--sort-header {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: grid;
    background-color: $color-bg-light-grey;
    font-size: 11px;
    font-family: "Titillium Semi-Bold";
    color: $color-secondary-slate;
    padding: 0.5rem 2rem;
    border-bottom: none;
  }
}

.warehouse__sort {
  &-name,
  &-add,
  &-contact-name,
  &-contact-info {
    display: flex;
    align-items: center;
  }
  &-actions {
    grid-column: span 2;
    justify-self: center;
  }
}

//mobile view
.mobile {
  &-warehouse-title,
  &-add-title,
  &-contact-name-title,
  &-contact-info-title {
    font-size: map-get($table-header, font-size);
    font-family: map-get($table-header, font-family);
    color: map-get($table-header, color);
    @include tablet {
      display: none;
    }
  }
}
