@use "../../styles/partials/__variables" as *;
@use "../../styles/partials/__mixins" as *;
@use "../../styles/partials/__utils" as *;

.list-table {
  &__top-section {
    display: flex;
    flex-direction: column;
    padding: 0 0 2rem 0;
    border-bottom: 1px solid $color-secondary-cloud;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      padding: 2rem 2rem 1rem 2rem;
      border-bottom: none;
    }
  }
  &__top-right {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
  }
  &__title {
    padding: 2rem 0 1rem 2rem;
    @include tablet {
      padding: 0;
    }
  }
}

//search button
#list-table__search {
  position: relative;
  width: calc(100% - 6rem);
  margin: 0 0 1rem 2rem;
  @include tablet {
    margin: 0 0 0 1.5rem;
  }
}

#list-table__search > input[type="text"] {
  position: relative;
  padding: 0.6rem 0 0.6rem 1.5rem;
  width: 100%;
  outline: none;
  border: $color-secondary-cloud 0.0625rem solid;
  border-radius: 25px;
  @include tablet {
    padding: 0.6rem 0 0.6rem 1.5rem;
    width: 12.5rem;
  }
  &:focus {
    border: 0.125rem blue solid;
    outline: none;
  }
}

.list-table__search-icon {
  position: absolute;
  z-index: 2;
  top: 0.4rem;
  right: 0rem;
  @include tablet {
    left: 12rem;
  }
}
