@use "../../styles/partials/__variables" as *;
@use "../../styles/partials/__mixins" as *;
@use "../../styles/partials/__utils" as *;

.header {
  width: 100%;
  height: 12.5rem;
  @include tablet {
    height: 11.625rem;
  }
  background-color: $color-bg-graphite;
}

.nav {
  display: flex;
  flex-direction: column;
  font-family: "Titillium Semi-Bold";
  width: 100%;
  @include tablet {
    width: calc(100% - 2 * $padding-sm);
    flex-direction: row;
    justify-content: space-between;
    padding: $padding-sm;
    align-items: center;
  }
  @include desktop {
    width: calc(100% - 2 * $padding-9xl);
    padding: 2rem 7.5rem;
  }
}

.nav__logo {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0 0 0;
  @include tablet {
    padding: 0;
    justify-content: flex-start;
  }
}

.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  @include tablet {
    padding: 0;
    justify-content: flex-end;
  }
}

.nav__warehouse,
.nav__inventory {
  padding: 0.5rem 1rem;
  color: $color-secondary-cloud;
  width: 50%;
  text-align: center;
  &:hover {
    color: white;
    background-color: $color-primary-is-black;
    border-radius: 1.5625rem;
  }
}

