@use "../../styles/partials/__variables" as *;
@use "../../styles/partials/__mixins" as *;
@use "../../styles/partials/__utils" as *;

.item__card {
  display: flex;
  flex-direction: column;
  width: 21.4375rem;
  height: 27rem;
  padding: 0 1.5rem;
  border-radius: 3px;
  background: var(--White, #fff);
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
  margin-top: 3rem;
  @include tablet {
    width: 44rem;
    height: 18.25rem;
    flex-shrink: 0;
  }
  @include desktop {
    width: 1020px;
    height: 274px;
    flex-shrink: 0;
  }

  // Item details header
  h2 {
    margin-bottom: 0.25rem;
    color: var(--Slate, #5c667e);
    font-family: "Titillium Web";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    @include tablet {
      font-size: 12px;
      line-height: 1.125rem;
    }
  }

  // Item details content
  p {
    margin-bottom: 1rem;
    color: var(--Instock-Black, #13182c);
    font-family: "Titillium Web";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    @include tablet {
      font-size: 14px;
      line-height: 1.375rem;
    }
    @include desktop {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;
  }

  &__back-arrow {
    background: #fff;
    margin-right: 0.5rem;
    margin-left: 1.5rem;
    display: flex;
    padding: 8px;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    @include tablet {
      display: inline-flex;
      padding: 8px 16px;
      gap: 10px;
    }
  }
  &__name {
    color: var(--Instock-Black, #13182c);
    font-family: "Titillium Web";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    @include tablet {
      font-size: 32px;
      line-height: 40px;
    }
  }
  &__edit {
    background: #2e66e5;
    border-radius: 1.25rem;
    border: none;
    margin-left: 6.75rem;
    margin-right: 2rem;
    display: flex;
    width: 36px;
    height: 36px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    @include tablet {
      display: inline-flex;
      padding: 8px 16px;
      gap: 10px;
      width: 36px;
      height: 36px;
    }
  }
  &__edit-img {
    width: 15px;
    height: 15px;
    filter: brightness(4) sepia(0) hue-rotate(0deg) saturate(0);
  }

  &__divider {
    border-bottom: 1px solid var(--Cloud, #bdc5d5);
    margin-bottom: 2rem;
    width: 107%;
  }
  &__details {
    padding: 0 1.5rem;
    @include tablet {
      display: flex;
      flex-direction: row;
    }
  }
  &__left_column {
    flex: 1;
  }
  &__right_column {
    flex: 1;
  }
  &__stock-container {
    display: flex;
    flex-direction: row;
  }
  &__status {
    flex: 1;
  }
  &__quantity {
    flex: 1;
  }
}
