@use "../../styles/partials/__variables" as *;
@use "../../styles/partials/__mixins" as *;
@use "../../styles/partials/__utils" as *;

.warehouse {
  &__section {
    font-family: "Titillium Regular";
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(19, 24, 44, 0.1);
    @include tablet {
      margin: -4rem 2rem;
    }
    @include desktop {
      margin: -4rem 5rem;
    }
  }
  &__top-section {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  &__top-right {
    display: flex;
  }
  &__list {
    padding: 1rem 2rem;
    display: grid;
    justify-content: center;
    gap: 1.875rem;
    grid-template-columns: 1fr 0.8fr 0.5fr 1fr 0.5fr;
    border-bottom: 1px solid $color-secondary-cloud;
    align-items: center;
    @include desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
    }
  }
  &__actions {
    display: flex;
    gap:0.5rem;
  }
}

//search button 
#warehouse__search {
    position: relative;
    margin: 0 0 0 1.5rem;
    width: 100%;
  }
  
  #warehouse__search > input[type="text"] {
    position: relative;
    padding: 0.6rem 0 0.6rem 1.5rem;
    width: 90%;
    outline: none;
    border: $color-secondary-cloud 0.0625rem solid;
    border-radius: 25px;
    @include tablet {
      padding: 0.6rem 0 0.6rem 1.5rem;
      width: 12.5rem;
    }
    &:focus {
      border: 0.125rem blue solid;
      outline: none;
    }
  }

  .warehouse__search-icon {
    position: absolute;
    z-index: 2;
    top:0.4rem;
    left: 12rem;
  }