/* -------------------------------------------------------------------------- */
/*                              Responsive Styles                             */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                            Primary Color Styles                            */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                           Secondary Color Styles                           */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                           Background Color Styles                          */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                           Supporting Color Styles                          */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                               Padding Styles                               */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                 Font Families                              */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: "Titillium Regular";
  src: url("../../assets/Font/TitilliumWeb-Regular.ttf");
}
@font-face {
  font-family: "Titillium Semi-Bold";
  src: url("../../assets/Font/TitilliumWeb-SemiBold.ttf");
}
/* -------------------------------------------------------------------------- */
/*                             Mobile Text Styles                             */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                        Desktop & Tablet Text Styles                        */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                             Mobile First Design                            */
/* -------------------------------------------------------------------------- */
@media (min-width: 320px) {
  * {
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    height: 100vw;
  }
  /* -------------------------------------------------------------------------- */
  /*                                 Text Styles                                */
  /* -------------------------------------------------------------------------- */
  a {
    text-decoration: none;
    color: #fff;
  }
  ul {
    list-style-type: none;
  }
  h1 {
    font-size: 28px;
    line-height: 36px;
    font-family: "Titillium Semi-Bold";
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #13182c;
  }
}
@media (min-width: 320px) and (min-width: 768px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
    font-family: "Titillium Semi-Bold";
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #13182c;
  }
}
@media (min-width: 320px) {
  h2 {
    font-size: 20px;
    line-height: 28px;
    font-family: "Titillium Semi-Bold";
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #13182c;
  }
}
@media (min-width: 320px) and (min-width: 768px) {
  h2 {
    font-size: 24px;
    line-height: 32px;
    font-family: "Titillium Semi-Bold";
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #13182c;
  }
}
@media (min-width: 320px) {
  h3 {
    font-size: 13px;
    line-height: 20px;
    font-family: "Titillium Semi-Bold";
    text-transform: capitalize;
  }
}
@media (min-width: 320px) and (min-width: 768px) {
  h3 {
    font-size: 14px;
    line-height: 22px;
    font-family: "Titillium Semi-Bold";
    text-transform: capitalize;
  }
}
@media (min-width: 320px) {
  h4 {
    font-size: 11px;
    line-height: 16px;
    font-family: "Titillium Semi-Bold";
    text-transform: uppercase;
    color: #5c667e;
  }
}
@media (min-width: 320px) and (min-width: 768px) {
  h4 {
    font-size: 12px;
    line-height: 18px;
    font-family: "Titillium Semi-Bold";
    text-transform: uppercase;
    color: #5c667e;
  }
}
@media (min-width: 320px) {
  p {
    font-size: 15px;
    line-height: 26px;
    font-family: "Titillium Regular";
    color: #13182c;
  }
}
@media (min-width: 320px) and (min-width: 768px) {
  p {
    font-size: 16px;
    line-height: 28px;
    font-family: "Titillium Regular";
    color: #13182c;
  }
}
@media (min-width: 320px) {
  .p2 {
    font-size: 13px;
    line-height: 20px;
    font-family: "Titillium Regular";
    color: #13182c;
  }
}
@media (min-width: 320px) and (min-width: 768px) {
  .p2 {
    font-size: 14px;
    line-height: 22px;
    font-family: "Titillium Regular";
    color: #13182c;
  }
}
@media (min-width: 320px) {
  .p3 {
    font-size: 11px;
    line-height: 16px;
    font-family: "Titillium Regular";
    color: #13182c;
  }
}
@media (min-width: 320px) and (min-width: 768px) {
  .p3 {
    font-size: 12px;
    line-height: 18px;
    font-family: "Titillium Regular";
    color: #13182c;
  }
}/*# sourceMappingURL=App.css.map */